
.container {
  width:960px;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.fullwidth {
  width: 100%;
}

.flex-box-center {
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
}
